/* some style */

body {
    background:  rgba(151, 205, 205, 1.0);
    font-family: 'Inconsolata', monospace;
}

#floor-1, #floor-2, #floor-3 {
    text-align: center;
    font-size:  3em;
    padding:    1em;
    color:      white;
}

#floor-1 { background-color: #659B9B;
           width:            500px;
           height:           150px;}
#floor-2 { background-color: #FFA7A7;
           width:            400px;
           height:           200px;}
#floor-3 { background-color: #D3EE9C;
           width:            450px;
           height:           100px;}